@page "/"

<div class="card">
    <div class="card-body">
        <p>
            A Loja de Informática WeChip possuía um sistema de créditos (em R$), que beneficiava clientes
            que compravam regularmente na loja. Esse sistema funcionou por muito tempo, mas agora, a
            loja decidiu encerrar este sistema.
            Como não havia prazo de validade para gastar, ela decidiu ligar pra todos estes clientes para
            que eles possam gastar os créditos, agilizar assim o processo de encerramento desse sistema de
            bonificação.
            Para isso, foi solicitado um sistema que possa ofertar alguns produtos para estes
            clientes.
            O projeto consiste em apenas 2 módulos (telas): CADASTRO CLIENTE e OFERTA
        </p>
   
    </div>
    <div class="card-footer">
        <p>
            Filipe Augusto Santos Chaves
        </p>
    </div>
</div>

