@page "/"

<div class="card">
    <div class="card-body">
        <p>
            A Loja de Informática WeChip possuía um sistema de créditos (em R$), que beneficiava clientes
            que compravam regularmente na loja. Esse sistema funcionou por muito tempo, mas agora, a
            loja decidiu encerrar este sistema.
            Como não havia prazo de validade para gastar, ela decidiu ligar pra todos estes clientes para
            que eles possam gastar os créditos, agilizar assim o processo de encerramento desse sistema de
            bonificação.
            Para isso, foi solicitado um sistema que possa ofertar alguns produtos para estes
            clientes.
            O projeto consiste em apenas 2 módulos (telas): CADASTRO CLIENTE e OFERTA
        </p>

    </div>

    <div class="card-body">
        <ul>
            <li class="list-group-item">
                <p> A aba Cliente é seleciona uma lista de cliente que apartir de um cliente selcionado é possivel ver ou editar os dados do mesmo. Também é possivel cadastrar novos clientes</p>
            </li>
            <li class="list-group-item">
                A  aba Oferta, é possivel buscar o cliente pelo cpf ou pelo nome.
                Com os dados do cliente carregados é possivel  fazer oferta dos produtos e modificar o status do cliente conforme as condições do anunciado.
            </li>

            <li class="list-group-item">
                A parte de cadastrar produto ou consultar as vendas é possivel por meio da API localizada no namespace ProvaCode7.Server.Controllers.
                Exemplo de como acessar a api: https://localhost:porta/api/APIProduto/BuscaVendasPorCpf?cpf=413.333.555-88
            </li>

        </ul>


        </div>
        <div class="card-footer">
            <p>
                Filipe Augusto Santos Chaves
            </p>
        </div>
    </div>

